// STYLE GUIDE ---------------------------------------
@indigo: #12173A;
@purple: #4221cc;
@teal: #5af0bd;
@muted-teal: rgba(90, 240, 189, 0.28);

// TABLE STYLES --------------------------------------
.NCTableTransactionsRT {
  .header {
    background-color: @indigo;
    color: white;
    font-weight: 500;
    border-bottom-style: none;
  }
  .body.table-row {
    background-color: white;
    &:hover {
      background-color: #e4e9ed;
    }
  }
}

.NCTable {
  .NCColumnHeaderCell {
    .header-icon {
      color: white;
    }
  }
}
// SPINNER ----------------------------------------
.NCComponentLevelSpinner {
  .pt-intent-primary {
    color: @teal !important;
  }
}
// INFO CARDS --------------------------------------
.NCKPIGroup .group-title {
  color: @teal;

  strong {
    color: white;
  }
}
.NCKPIGroup .NCKPI .kpi-card {
  &>.metric {
    .value {
      color: @purple;
    }
    .units {
      color: @purple;
    }
  }
}
.NCDashboard .NCKPIContainer .NCKPIGroup {
  box-shadow: 0 0 12px 1px rgba(0,0,0,.1);
  background-color: @indigo;
}

.NCCardBlock .block-card {
  &.non-empty-block {
    border-color: @purple;
  }
  .proposer .NCEntityLabel {
    color: @purple;
    &:hover {
      .text {
        color: @purple !important;
      }
    }
  }
}

.NCEntityLabel {
  .icon {
    // color: @purple;
    color: #5c7080;
  }
  &.active {
    &:hover {
      .text {
        color: @purple;
      }
    }
  }
}
// ENTITY DETAILS VIEW ----------------------------------
.NCEntityDetail {
  .subtitle {
    color: @purple;
  }
}

// EXPLORER PAGE ----------------------------------------
.NCExplorerPage {
  .NCExplorerHead {
    .title-row {
      .left {
        .title {
          .join {
            border-left: 1px solid @teal;
          }
          .desc {
            color: @purple;
          }
        }
      }
    }
  }
}
// RECENT BLOCKS / TRANSACTIONS -------------------------
.NCTitle {
  &.section{
    border-bottom: 1px solid @teal;
    span {
      color: @purple;
      font-weight: 400;
    }
  }
}
// RECENT TRANSACTIONS TABLE HEADER ----------------------
.NCHeader {
  background-color: @indigo;
  .row {
    .navbar-group-left {
      .title {
        color: @teal;
      }

      .pt-navbar-divider {
        margin-right: 15px;
        margin-left: 12px;
        border-left: 1px solid #ffffffad;
      }
    }

    .pt-icon-caret-down {
      margin-left: 5px;
      margin-right: -2px;
      color: @teal;
    }

    .navbar-btn-active {
      &:before {
        color: @teal !important;
      }
      color: @teal !important;
      box-shadow: 0 0 0 1px @muted-teal;
    }

    .navbar-group-right {
      .pt-navbar-divider {
        border-left: 1px solid #ffffffad;
      }
    }
  }
}

// NETWORK STATUS --------------------------------------
.NCLivenessIndicator {
  .liveness-btn {
    .icon {
      &.live {
        color: @teal;
      }
    }
  }
}

.NCNavMenu {
  .pt-menu-header > h6 {
    color: @purple;
  }
}

pre {
  background-color: white;
}
// SMALL ICON CHANGES ---------------------------------
.pt-menu-item::before, .pt-menu-item::after {
  // color: @purple;
}
// .pt-button.pt-minimal.pt-intent-primary {
  // color: @purple;
// }
.pt-button.pt-intent-primary {
  color: @teal !important;
}
.pt-tag.pt-intent-primary {
  color: @purple !important;
}
.pt-icon-arrow-right.main-search-btn {
  color: @teal !important;
}
.pt-icon-circle-arrow-right {
  color: @indigo !important;
}
.pt-tag.pt-minimal.pt-intent-primary {
  background-color: #e5e4e8;
}
.nc-minimal-btn-shadow {
  box-shadow: 0 0 0 1px @muted-teal !important;
}
// TABLE RENDERING ---------------------------------------
.bp-table-quadrant-main .bp-table-quadrant-scroll-container {
  background-color: white !important;
}
.bp-table-top-container,
.bp-table-header:before,
.bp-table-menu {
  background-color: @indigo !important;
}
.bp-table-row-name,
.bp-table-column-name-text {
  color: white !important;
  font-weight: 400 !important;
}

.block-link.pt-button {
  color: @indigo !important;
}
.pt-tab[aria-selected="true"],
.pt-tab:not([aria-disabled="true"]):hover {
  color: @purple;
}

.pt-tab-indicator {
  background-color: @teal !important;
}
// GENERAL ----------------------------------------------
body {
  background: #f2f3fd;
  &:after {
    content: "";
    background-image: url(https://aion.network/material/views/aion/assets/img/circuit_grid.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 60%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    overflow: hidden;
  }
}
a, a:hover {
  color: #4221cc;
}
