@dm-text: #ccc;
@dm-input-text: #555;
@dm-title: #d1cfcf;
@dm-background-major:#010101;
@dm-background-main:#222;
@dm-background-minor:#333;
@dm-background-minor-b:#111;

.darkMode{

			background-color:@dm-background-main !important;
			color:@dm-title;
			
		h2{
			color:#ccc;
		}
		.pt-menu-header{
           h6{
              color:#9e9e9e;
           }
        }
        .NCTitle.section span{
           color: #aaa;
        }
		.NCPage{
			background-color:#000 !important;
			color:@dm-title;
			&.dark-mode{
		    background-color:#000;
		  }
		}

		.NCHeader .row{
			 background-color:#000;
			 &.dark-mode{
		    background-color:#000;
		  }
		}
		.pt-navbar{
			background-color:@dm-background-major !important;
		}
		.NCKPIGroup{
			background-color:#222;
			
			.group-title {
				
				strong {
					color:#d1cfcf !important;
				}
			}
		}
		
		.pt-card{
			background-color:@dm-background-minor !important;
			box-shadow: 0 0 0 1px rgba(243, 246, 247, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2) !important;
		}
		.pt-menu{
			color:@dm-title;
			background:@dm-background-minor !important;


		}
		.pt-popover .pt-popover-arrow-fill{
			fill:@dm-background-minor
		}
		.block-card{
			background-color:#444 !important;
		}

		input.pt-input{
			color:@dm-input-text;
			background-color:#ccc;
		}

		.NCTableTransactionsRT .header{
			background-color:#333 !important;
		}

		.NCTableTransactionsRT .table-row{
        	background-color:@dm-background-minor
        }
        .NCTableTransactionsRT .table-row:hover{
           background-color:#999;
        }
		.NCDarkInput{ background-color:#333;}

		.bp-table-column-headers{
		color:@dm-title;
		background-color:@dm-background-minor
		}

		.bp-table-bottom-container{}

		.NCEntityLabel{
			color:@dm-title;
			background-color:transparent;
		}
		.NCEntityLabel .text{
			color:@dm-title;
			background-color:transparent;
		}
		.block-card .NCEntityLabel .text{
			color:@dm-title;
			background-color:transparent;
			
		}
		.block-card .NCEntityLabel{
			
			background-color:transparent;
		}

		.NCTable .bp-table-cell{
		    color:@dm-title;
		    background-color:@dm-background-minor !important;
		}
		.bp-table-quadrant-main .bp-table-quadrant-scroll-container {
          background-color: @dm-background-minor !important;
        }
        .NCTable .bp-table-cell {
          background-color: @dm-background-minor !important;
        }

		.desc{
			color:@dm-title;
		}
		.NCHeader .row .navbar-btn-active {
		    color: @dm-title !important;
		 }
		 .NCFooter{
		 background-color: @dm-background-minor !important;
		 }
		 .pt-elevation-1{
		 	box-shadow: 0 0 0 1px rgba(243, 246, 247, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
		 }

}

@media all and (max-width: 1030px)
{
    .darkMode{
		.NCKPIGroup{
			background-color:#222222;
		}

	}
}