
	

  @media all and (max-width: 1030px) 
  {
    .NCHeader .row .navbar-btn-active span {
      display: none;
    }
    .NCTopLevelSearch .search-bar .pt-input-action .pt-popover-target button span {
      display: none;
    }
    span.pt-icon-standard.pt-icon-caret-down.pt-align-right {
    display: inline !important;
    }
  }
















































